/* Write your CSS here */
.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image {
  height: 120px;
  width: 200px;
  border-radius: 13px;
}
.destination-name {
  font-size: 12px;
  font-family: roboto;
  color: #000000;
}
